<form action="check3" method="POST" target="result">
    <input type="text" name="url"></input>
    <button>Check</button>
</form>
<iframe name="result" style="border: none; width: 100%; height: fit-content;"></iframe>